{% extends 'mainapp/ParentTemplate.html' %}
{% load static %}

{% block title %}
    DocuMind-Chat
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mainapp/chatpage.css' %}">
{% endblock extra_css %}

{% block body %}
    {% if messages %}
      {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
      {% endfor %}
    {% endif %}
 
<div class="chat-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="sidebar-header">
      <button class="new-chat-btn">+ New Chat</button>
    </div>

    <!-- DOCUMENTS -->
    <div class="docs-section">

      <form action="{% url 'upload_docs' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        <label>Documents </label>
        <label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ 
          <input type="file" name="documents" multiple hidden onchange="this.form.submit()" accept=".pdf">
        </label>

      </form>
      <div class="docs-list">
        <div class="doc-item">research.pdf</div>
        <div class="doc-item">notes.txt</div>
      </div>

    </div>

    <!-- QUERY LOG -->
    <div class="history-section">

      <div class="section-header">
        Query Log
      </div>

      <div class="history-list">
        <div class="history-item">Summarize document</div>
        <div class="history-item">Explain section 3</div>
        <div class="history-item">Key findings</div>
      </div>

    </div>

  </aside>


  <!-- MAIN CHAT -->
  <main class="main">
    <div class="chat-messages">
      <!-- messages will appear here -->
    </div>

    <div class="input-area">

      <div class="input-container">
    
        <div class="input-wrapper">
          <textarea placeholder="Query your documents..."></textarea>
          <button class="btn-primary">Send</button>
        </div>

        <div class="disclaimer">
          ⚠️ DocuMind can make mistakes. Check important info.
        </div>

      </div>

    </div>
    
  </main>

</div>
<!-- CSS to adjust the height of the textbox automatically -->
<script>
const textarea = document.querySelector("textarea");

textarea.addEventListener("input", () => {
    textarea.style.height = "auto";
    textarea.style.height = textarea.scrollHeight + "px";
});
</script>
{% endblock %}
