{% extends 'mainapp/ParentTemplate.html' %}
{% load static %}

{% block title %}
    DocuMind-Chat
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'mainapp/chatpage.css' %}">
{% endblock extra_css %}

{% block body %}
    {% if messages %}
      {% for message in messages %}
                <div class="message {{ message.tags }}">
                    {{ message }}
                </div>
      {% endfor %}
    {% endif %}
 
<div class="chat-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">

    <div class="sidebar-header">
      <a class="new-chat-btn" href="{% url 'new_chat' %}"> New Chat</a>
    </div>

    <!-- DOCUMENTS -->
    <div class="docs-section">

      <form action="{% url 'upload_docs' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}


        <label>Documents </label>
        <label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+ 
          <input type="file" name="documents" multiple hidden onchange="this.form.submit()" accept=".pdf">
        </label>

      </form>
      <div class="docs-list">
        {% if docs %}
        <a href="{% url 'delete_all_docs' %}">Delete all</a>
        {% for doc in docs %}
            <label class="doc-item">
              <input type="checkbox" name="selected_docs" value="{{ doc.id }}">
                <span>{{ doc.display_name }}</span>&nbsp;&nbsp;&nbsp;
              <a href="{% url 'delete_doc' doc.id %}" class="delete-links">X</a>  
            </label>
        {% endfor %}
        {% endif %}
      </div>

    </div>

    <!-- QUERY LOG -->
    <div class="history-section">

      <div class="section-header">
        Chat History
      </div>

      <div class="history-list">
        {% for chat in chats %}
        <div class="history-item"><a href="{% url 'chatpage' chat.id  %}">{{ chat.chat_title }}</a></div>
        {% endfor %}
      </div>

    </div>

  </aside>


  <!-- MAIN CHAT -->
  <main class="main">
    <div class="chat-messages">
      <!-- messages will appear here -->
    </div>

    <div class="input-area">

      <div class="input-container">
    
        <div class="input-wrapper">
          <textarea placeholder="Query your documents..."></textarea>
          <button class="btn-primary">Send</button>
        </div>

        <div class="disclaimer">
          ⚠️ DocuMind can make mistakes. Check important info.
        </div>

      </div>

    </div>
    
  </main>

</div>
<!-- CSS to adjust the height of the textbox automatically -->
<script>
const textarea = document.querySelector("textarea");

textarea.addEventListener("input", () => {
    textarea.style.height = "auto";
    textarea.style.height = textarea.scrollHeight + "px";
});
</script>
{% endblock %}
