{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DocuMind-Docs to Knowledge{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainapp/homepage.css' %}">
    <link rel="icon" href="{% static 'mainapp/favicon.png' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <img src="{% static 'mainapp/favicon.png'%}" alt="DocuMind logo" style="width:100px;height:50px;vertical-align:middle;margin-right:8px;">
                DocuMind
            </div>
            <ul class="nav-links">
                <li><a href="/#feature-card">Features</a></li>
                <li><a href="/#working">How It Works</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
            </ul>
        </div>
    </nav>

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <p>© 2026 DocuMind. AI-powered Retrieval-Augmented Generation Platform.</p>
        </div>
    </footer>

</body>
</html>